@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
body {

    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;

}
  /* Golbal */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    padding: 0px;
    margin: 0px;
}
.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px; 
    color: #ffffff
}
.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

    

            /* Header */
header{
    background: #45424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    font-family: 'Dancing Script', cursive;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    padding: 0 20px 0 20px;
    list-style: none;
    font-family: 'Libre Baskerville', serif;
    

}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0px;

}
header nav {
    float: right;
    margin-top: 10px;
    
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;

}
header :hover{
    
    color: #cccccc;
    font-weight: bold;
     
}
#showcase{
    min-height: 600px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Dancing Script', cursive;

}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
     
}
#showcase p{
    font-size: 20px
}

#newsletter{
    padding: 0px;
    color: #ffffff;
    background: #35424a;

}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 20px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 20px;
    width: 250px;
}

/* boxes */

#boxes{
    margin-top: 20px;

}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width: 100px;
}


/* SIDEBAR */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
    padding: 20px;
}

aside#sidebar .quote input .quote textarea{
    width: 90%;
    padding: 5px;
}

article#main-col{
    float: left;
    width: 60%;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;


}

footer{
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
/* media queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newslettr form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter .button_1{
        display: block;
        width: 100%;
    }
    #newsletter form input[type='email'], .quote input, .quote textarea{
        width: 90%;
        margin-bottom: 10px;
    }
    
}